<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wise.develop.WiseChatApis.dao.FriendDao">

    <!--申请好友-->
    <insert id="applyFriend">
        INSERT INTO friendapplyrecord (fromUserId, toUserId)
        VALUES (#{fromUserId}, #{toUserId})
    </insert>

    <!--修改添加状态 设置为已添加-->
    <update id="agreeFriend">
        UPDATE friendapplyrecord
        SET addStatus = 1
        WHERE fromUserId = #{fromUserId} AND toUserId = #{toUserId}
    </update>

    <!--获取好友的添加状态-->
    <select id="getAddStatus" resultType="java.lang.String">
        SELECT addStatus
        FROM friendapplyrecord
        WHERE (fromUserId = #{fromUserId} AND toUserId = #{toUserId}) OR
              (fromUserId = #{toUserId} AND toUserId = #{fromUserId})
    </select>

    <!--获取申请记录中 未添加好友的个数-->
    <select id="getNoAddFriendCount" resultType="java.lang.Integer">
        SELECT count(u.id)
        FROM user u, friendapplyrecord f1
        WHERE u.id IN (SELECT f2.fromUserId
                       FROM friendapplyrecord f2
                       WHERE f2.toUserId = #{toUserId}) AND u.id = f1.fromUserId AND f1.addStatus = 0
    </select>

    <!--获取申请好友的个数-->
    <select id="getFriendApplyList" resultType="com.wise.develop.WiseChatApis.bean.ApplyFriendInfoBean">
        SELECT
            u.id,
            u.userName,
            u.age,
            u.sex,
            u.sex,
            f1.addStatus
        FROM user u, friendapplyrecord f1
        WHERE u.id IN (SELECT f2.fromUserId
                       FROM friendapplyrecord f2
                       WHERE f2.toUserId = #{toUserId}) AND u.id = f1.fromUserId
    </select>

    <!--删除申请记录-->
    <delete id="deleteApplyRecord">
        DELETE FROM friendapplyrecord
        WHERE fromUserId = #{fromUserId} AND toUserId = #{toUserId}
    </delete>

    <!--真正添加为好友-->
    <insert id="addFriendShip" parameterType="java.util.List">
        INSERT INTO friends(
        friendId,
        userId,
        remarkName
        )
        VALUES
        <foreach collection="list" item="list" index="index" separator=",">
            (
            #{list.friendId},
            #{list.userId},
            #{list.remarkName}
            )
        </foreach>
    </insert>

    <!--获取好友列表-->
    <select id="getFriendList" resultType="com.wise.develop.WiseChatApis.bean.FriendBean">
        SELECT
            f1.id,
            u.userName,
            u.age,
            u.sex,
            u.desc,
            f1.friendId,
            f1.remarkName
        FROM user u, friends f1
        WHERE u.id = f1.friendId AND f1.userId = #{userId}
    </select>

    <!--获取最近联系人列表-->
    <!--SELECT
            r.id,
            r.friendId,
            u.userName AS friendName,
            r.lastMessage,
            r.sendTime
        FROM user u, recentcontacts r
        WHERE u.id = r.friendId AND userId = #{userId}
        ORDER BY r.sendTime DESC-->
    <select id="getRecentContactList" resultType="com.wise.develop.WiseChatApis.bean.RecentContactBean">
        SELECT
            r.friendId,
            r.lastMessage,
            r.sendTime,
            u.nickname,
            f.remarkName,
            (SELECT count(1)
             FROM messages m
             WHERE m.toUserId = r.userId AND m.fromUserId = r.friendId AND m.messageStatus = 0) AS unReadCount
        FROM recentcontacts r
            JOIN user u ON r.friendId = u.id
            JOIN friends f ON (r.friendId = f.friendId AND r.userId = f.userId)
                              AND r.userId = #{userId} AND f.friendId IN (SELECT friendId
                                                                          FROM recentcontacts
                                                                          WHERE userId = #{userId})
        ORDER BY r.sendTime DESC;
    </select>

    <!--删除最近联系人-->
    <delete id="deleteRecentContactInfo">
        DELETE FROM recentcontacts
        WHERE (userId = #{userId} AND friendId = #{friendId}) OR (userId = #{friendId} AND friendId = #{userId})
    </delete>

    <!--添加最近联系人-->
    <insert id="addRecentContactInfo" parameterType="java.util.List">
        INSERT INTO recentcontacts(friendId,userId,lastMessage)
        VALUES
        <foreach collection="list" item="list" index="index" separator=",">
            (
            #{list.friendId},
            #{list.userId},
            #{list.lastMessage}
            )
        </foreach>
    </insert>
</mapper>