<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wiseapis.chat.dao.FriendDao">

    <insert id="applyFriend">
        INSERT INTO friendapplyrecord (fromUserId, toUserId)
        VALUES (#{fromUserId}, #{toUserId})
    </insert>

    <select id="getFriendApplyList" resultType="com.wiseapis.chat.bean.UserBean">
        SELECT *
        FROM user
        WHERE id IN (SELECT friendapplyrecord.fromUserId
                     FROM friendapplyrecord
                     WHERE friendapplyrecord.toUserId = #{toUserId})
    </select>

    <delete id="deleteApplyRecord">
        DELETE FROM friendapplyrecord
        WHERE fromUserId = #{fromUserId} AND toUserId = #{toUserId}
    </delete>

    <insert id="addFriendShip">
        INSERT INTO friends(friendId, userId, remarkName)
        VALUES
        <foreach collection="friendList" item="friend" separator=",">
            (#{friend.friendId},#{friend.userId},#{friend.remarkName})
        </foreach>
    </insert>

    <select id="getFriendList" resultType="com.wiseapis.chat.bean.UserBean">
        SELECT *
        FROM user
        WHERE id IN (SELECT friends.friendId
                     FROM friends
                     WHERE friends.userId = #{userId})
    </select>
</mapper>