<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wiseapis.chat.dao.MessageDao">

    <insert id="addMessage">
        INSERT INTO messages (content, fromUserId, toUserId)
        VALUES (#{message.content}, #{message.fromUserId}, #{message.toUserId})
    </insert>

    <select id="getMessageHistory" resultType="com.wiseapis.chat.bean.MessageBean">
        SELECT *
        FROM messages
        WHERE fromUserId = #{fromUserId} OR fromUserId = #{toUserId}
    </select>
</mapper>