<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wiseapis.chat.dao.UserDao">

    <insert id="createUser">
        INSERT INTO user (userName, password, userToken) VALUES (#{userName}, #{password}, #{userToken})
    </insert>

    <select id="login" resultType="com.wiseapis.chat.bean.UserBean">
        SELECT *
        FROM user
        WHERE userName = #{userName} AND password = #{password}
    </select>

    <select id="getUserByName" resultType="com.wiseapis.chat.bean.UserBean">
        SELECT *
        FROM user
        WHERE userName = #{userName}
    </select>
</mapper>